{{#if editing}}
  {{input key-up=(action 'changeValue')  class="edit" value=item.title }}
{{else}}
  <div class="view" {{action 'edit'  on="doubleClick"}}>
    <input {{action 'completeTodo' item preventDefault=false }} class="toggle" type="checkbox" >
    <label>{{item.title}}</label>
    <button {{action 'deleteTodo' item}} class="destroy"></button>
  </div>
{{/if}}
